<%- include('header.ejs', {title: 'Report', userImg:'/image/iot_1.png',
currentPage:'report'}) %>

<div class="col-12">
  <div class="bg-white rounded h-100 p-4">
    <div class="d-flex justify-content-between my-3">
      <h4 class="share-tech-regular" style="color: rgb(7, 117, 161);">Device Status Report</h4>
      <!-- <a
        href="/report/download"
        id="downloadbutton"
        class="btn btn-primary"
        >Download Report</a
      > -->
    </div>

    <% if(error.length>0) { %>
      <p class="error"><%= error %></p>
      <% } %>
    <form
      id="reportForm"
      action="/report"
      method="post"
      class="form-inline mb-2"
    >
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <!-- Select option for filter criteria -->
              <select name="filter" id="filter" class="form-control">
                <option value="">Select Method</option>
                <option value="getDeviceById">Get By Device ID</option>
                <option value="getByDate">Get By Date</option>
                <option value="getByDateRange">Get By Date Range</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="output" id="additionalInputs">
              <div
                class="form-group"
                id="deviceidInput"
                style="display: none"
              >
                <!-- Input field for DeviceId -->
                <input
                  type="text"
                  name="deviceid"
                  placeholder="DeviceId"
                  class="form-control"
                />
              </div>
              <div
                class="form-group"
                id="dateInputContainer"
                style="display: none"
              >
                <!-- Date input for getByDate -->
                <input
                  type="date"
                  name="date"
                  id="dateInput"
                  class="form-control"
                />
              </div>
              <div class="form-group"
              id="dateRangeInputContainer"
              style="display: none; ">
                <input type="date" name="startDate" id="startDateInput" class="form-control" />
              <input type="date" name="endDate" id="endDateInput" class="form-control" />
            </div>
              <!-- <div class="row" id="dateRangeInputContainer" style="display: none">
                <div class="col-md-6" style="display: inline-block;">
                    <div>
                         Date inputs for getByDateRange -->
                        <!-- <input type="date" name="startDate" id="startDateInput" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6" style="display: inline-block;">
                    <div> -->
                        <!-- Date inputs for getByDateRange -->
                        <!-- <input type="date" name="endDate" id="endDateInput" class="form-control" />
                    </div>
                </div>
            </div> --> 
            
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Submit button -->
      <div class="text-center">
        <button type="button" class="btn btn-primary mt-3" name="action" value="filter" onclick="submitForm('post')">Filter Data</button>
            <button type="button" class="btn btn-primary mt-3" name="action" value="download" onclick="submitForm('get')">Download Report</button>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>DeviceId</th>
            <th>Message</th>
            <th>CreatedAt</th>
          </tr>
        </thead>
        <tbody>
          <% deviceStatusData.forEach(deviceStatus => { %>
          <tr>
            <td><%= deviceStatus.deviceId %></td>
            <td><%= deviceStatus.status %></td>
            <td><%= new Date(deviceStatus.createdAt).toString('en-IN', { timeZone: 'Asia/Kolkata' }) %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('footer.ejs') %>
